<h1>Followers: </h1>

{% for follow in followers %}
<div class="mt-2 border-c-gray:+50 border-1 rounded-md pa-2">
    <div class="d-flex a-items-center">
        <img src="{{ url_for('static', filename='images/user_avatars/' ~ (follow.user_avatar_path if follow.user_avatar_path else 'unknown.jpg')) }}"
            class="w-8 h-8 rounded-full" alt="Profile Picture">
        <div class="w-full ml-2">
            <p class="">
                {{ follow.user_first_name }} {{ follow.user_last_name }}
                <span class="text-c-gray:+20 text-70">@{{ follow.user_username }}</span>
            </p>

        </div>
        <button class="px-4 py-1 text-c-white bg-c-black rounded-lg">{{ x.lans("follow") }}</button>
    </div>
</div>
{% endfor %}