<h1>Following: </h1>

{% for following in followings %}
<div class="mt-2 border-c-gray:+50 border-1 rounded-md pa-2">
    <div class="d-flex a-items-center">
        <img src="{{ url_for('static', filename='images/user_avatars/' ~ (following.user_avatar_path if following.user_avatar_path else 'unknown.jpg')) }}"
            class="w-8 h-8 rounded-full" alt="Profile Picture">
        <div class="w-full ml-2">
            <p class="">
                {{ following.user_first_name }} {{ following.user_last_name }}
                <span class="text-c-gray:+20 text-70">@{{ following.user_username }}</span>
            </p>

        </div>
        {% set user_pk = following.user_pk %}
        {% set is_following = following.is_following %}
        <button id="follow_btn_{{ user_pk }}" class="action" mix-patch="{{ url_for('api_follow_user') }}">
            {% include "___button_follow_user.html" %}
        </button>
    </div>
</div>
{% endfor %}