{% include "_header.html" %}

<main class="x-landing">
    <div class="ma-auto">
        <h1>Forgot your password?</h1>
        <p>Enter your email below, and we will send you a link to reset your password!</p>
        <form action="{{ url_for('view_forgot_form') }}" method="POST" class="x-dialog__form" autocomplete="off">
            <input name="user_email" id="user_email" type="text" mix-check="{{ x.REGEX_EMAIL }}">
            <button type="submit" class="x-dialog__btn" mix-default="Send reset link" mix-await="Sending link...">Send
                reset
                link</button>
        </form>
    </div>
</main>

{% include "_footer.html" %}