{% include "_header.html" %}

<main class="x-landing">
    <div class="ma-auto">
        <h1>Reset your password</h1>
        <form action="{{ url_for('reset_password') }}" method="POST" class="x-dialog__form" autocomplete="off">
            <!-- Key bliver sendt fra GET-route, og sendes til  -->
            <input type="hidden" name="reset_key" value="{{ key }}">
            <input name="user_password" id="user_password" placeholder="Create new password" type="text"
                mix-check="{{ x.REGEX_USER_PASSWORD }}" required>
            <input name="user_password_confirm" id="user_password" placeholder="Confirm password" type="text"
                mix-check="{{ x.REGEX_USER_PASSWORD }}" required>
            <button type="submit" class="x-dialog__btn" mix-default="Save new password"
                mix-await="Saving password...">Save new password</button>
        </form>
    </div>
</main>

{% include "_footer.html" %}