<h1>All Users</h1>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th class="pe-5">Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for u in users %}
        <tr>
            <td>@{{ u.user_username }}</td>
            <td>{{ u.user_email }}</td>
            <td>{{ "Blocked" if u.user_blocked == 1 else "Active" }}</td>
            <td>
                {% if u.user_blocked %}
                <button mix-post="{{ url_for('unblock_user') }}" name="user" value="{{ u.user_pk }}">Unblock</button>
                {% else %}
                <button mix-post="{{ url_for('block_user') }}" name="user" value="{{ u.user_pk }}">Block</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>